.navbar {

  -webkit-animation-delay: 0.5s;
  
}
.header {

  -webkit-animation-delay: 1s;
  
}



p{font-family:"Oswald",sans-serif;}
hr{border:1px solid #dcdcdc;}

.navbar-default .navbar-toggle {
  
  margin-bottom: 2px;}
  
.navbar-default 	{background-color: #474747;
                 margin-bottom:0px;
				 opacity:0.8;
				 border:none;}

.navbar-nav li a,.navbar-brand{
		 	height:80px;
		    line-height:80px;
		    font-family: "Lobster",sans-serif;  
		    font-size:1.6em;  
		      border-right: 1px solid rgb(58, 46, 46);
		    -webkit-box-shadow: 1px 0px 0px 0px rgba(255,255,255,.1);
			-moz-box-shadow: 1px 0px 0px 0px rgba(255,255,255,.1);
			 box-shadow: 1px 0px 0px 0px rgba(255,255,255,.1);
			 padding: 0 20px;
		                      }
.navbar-brand{
	       
 	     padding-right: 0px;

 	}

.logo{height:80px;
	  width:80px;
	  background-color:#ff7800;
	  padding: 15px 12px;}
	  
  .facebook  {width:80px;
 	         background-color:#3b5998;			 
 	        text-align:center;
 	         box-shadow:none;
 	         border:none;  }

.twitter   { 
 	          width:80px; 
 	          background-color:#5ea9dd;
 	          text-align:center;
 	          box-shadow:none;
 	          border:none;
 	           }
			   li.twitter  a:hover,
 	li.facebook  a:hover{ opacity: 0.8; }
		
.navbar-default .navbar-nav>li>a{ color: #FFF;}
.navbar-default .navbar-nav>li>a:hover{ color: #FFF;background-color: #535252;}
 	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
 	{ color:#fff; background-color: #535252;}
	

 	
	
.navbar-default .navbar-toggle{
 		  margin-top: 4.5px;
		  height: 70px;
		  margin-bottom: 1px;
		  border-color:#777777;
 	}

 	.navbar-default .navbar-collapse,.navbar-default .navbar-form{
 		border-color: #3d3d3d;

 	}   
	/* header*/
	header{height:650px;
	       background-color:#acacac;
		   text-align:center;
		    background-image:url(../Images/1.jpeg);
			padding-top:0px;
			background-attachment:fixed;
			background-position:center;
			background-repeat:none;
			
		  
		   }
		   
	.profile-pic{margin-top:100px;
	             border:10px solid white;
				 -webkit-box-shadow: 0px 14px 37px -6px rgba(0,0,0,1);
				-moz-box-shadow: 0px 14px 37px -6px rgba(0,0,0,1);
				box-shadow: 0px 14px 37px -6px rgba(0,0,0,1);
				}
		   
	header h2{margin-top:50px;
			  color:#ffffff;
	          font-family: "Lobster",sans-serif;  
		      font-size:3.5em;
			  
			 
			  
			  }
    header h3{margin-top:25px;
			  color:#ffffff;
	          font-family: "Oswald",sans-serif;  
		      font-size:2.5em;
			  font-style:italic;
			  }
	/* header*/
	
	/*Main Section*/
     section{padding:60px 100px;
	     }	 
		/*About ME*/
	 section  h3{	
				background-color:#474747;
	            padding:7px 26px;
				display:inline-block;
				font-family:"Lobster",sans-serif;
				font-size:2em;
				color:white;
				margin-bottom:20px;
				  
				
				}
	 section .Aboutme h4{  
				font-family:"Oswald",sans-serif;
				font-size:1.6em;
				color:#474747;
				font-style:italic;
			     
				}
				
	 section .Aboutme h4 small{ 
				font-family:"Oswald",sans-serif;
				padding-left:5px;
				margin-left:5px;
				color:#a0a0a0;
				border-left:1px solid #a0a0a0;
				 font-style:italic;
				
				}
				
    section .Aboutme p{ font-size:1.3em;
	                 color:#276E14;
					   font-style:italic;}
    /*About Me*/	
	/*Portfolio*/
	        .Portfolio{padding-top:25px;}
	 
		    #badboy{text-align:left;
					color:#474747;
					 font-size:1.4em;
					 font-style:italic;}	  
	
			section .Portfolio p{ font-size:1.3em;
							 color:#276E14;
							font-style:italic;
							text-align:center;}
						
			section  .Portfolio h4{  
				font-family:"Lobster",sans-serif;
				font-size:1.6em;
				color:#474747;
				text-align:center;
				}
				
			.col-sm-6, .col-sm-12{padding-left:0px;
			                      padding-top:15px;	                }
							
			.col-sm-6, .col-sm-12 :hover {opacity:0.8px;	}
	
	
	/*/Portfolio*/
	
	/*Contact Info*/
	.Contact .row{margin-top:25px;}
	
	 
	 input,textarea{ width:100%;
	       height:50px;
		   padding:2px 10px;
		   border:3px  solid #b9b9b9;
		   margin-bottom:20px;
		   color:#a0a0a0;
		   font-family:"Oswald",sans-serif;
		   font-size:1.5em;}
		   
    textarea{resize:none;}
		   
	  input:focus,textarea:focus{border:3px solid  #276E14;;
	             box-shadow:0 0 5px 1px;}
	 
	  .send{width:160px;  
	        background-color:#ffffff;}	   
	  
	  .message{height:250px;
	           padding-bottom:0px;
	           } 
	  .send:hover{
	          color:#276E14;
			 border-color: #276E14;}
			 
      .quick-info i{position:absolute;
				left:0px;
				font-size:1.3em;
				color:#b9b9b9;
				padding-top:4px;
				}
				
	   .Contact .quick-info p{font-size:1.2em;
	            color:#C3C3C3;
				padding-left:10px;
			    padding-top:0px;
				font-family:'Oswald',sans-serif;}  
	/*/Contact Info*/
    /*/Main Section*/
	
	/*footer*/
	footer{height:150px;
			width:100%;
		   background-color:#474747;
		   color:white;
		   padding-top:55px ;
		   font-family:"Lobster",sans-serif;}
		   
    .pull-left{ font-size:1.5em; }   
      .pull-right{color:#acacac; 
				font-size:1.1em; } 
		   
	/*/footer*/
    
	/*Responsive*/
 	@media(max-width:768px){
	     
			.navbar-default .navbar-nav>li>a{
 			width:100%;
 			border-bottom:1px solid #3d3d3d;
            text-align: center;
             
 		}
		
			header h2{
		      font-size:3em;
			  
			 
			  
			  }
             header h3{
		      font-size:2em;
			 
			  }
			.quick-info i{padding-left:15px;}  
			.quick-info p{padding-left:15px;}
		
			.special{margin-left:`100px ;}
	        .pull-right{padding-top:5px; 
				} 
				
			header h2{margin-top:50px;
			  color:#ffffff;
	          font-family: "Lobster",sans-serif;  
		      font-size:2.5em;
			  
			 
			  
			  }
			header h3{margin-top:25px;
			  color:#ffffff;
	          font-family: "Oswald",sans-serif;  
		      font-size:1.5em;
			  font-style:italic;
			  }	
			  
			  .navbar-nav li a,.navbar-brand{
		 	
		    font-size:1.4em;  }
			 
			.navbar-nav li a, .navbar-brand {
			height: 60px;
			line-height: 60px;}
			
			.logo {
				height: 76px;
				width: 76px;}
				
			
			.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
			  max-height: 400px;
			}
			
			

 	}
	
	

 


